<div class="middle-box text-center loginscreen   animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">ExpenseS</h1><br>

        </div>
        <h3>Register to ExpenseS</h3>
        <p>Create account to see it in action</p>
        <form class="m-t" role="form" action="">
            <div class="form-group">
                <input type="text" ng-model="user.username" class="form-control" placeholder="Username" required="">
            </div>
            <div class="form-group">
                <input type="password" ng-model="user.password" class="form-control" placeholder="Password" required="">
            </div>
            <div class="form-group">
                <input type="text" ng-model="user.first_name" class="form-control" placeholder="First Name" required="">
            </div>
            <div class="form-group">
                <input type="text" ng-model="user.last_name" class="form-control" placeholder="Last Name" required="">
            </div>
            <div class="form-group">
                <input type="email" ng-model="user.email"class="form-control" placeholder="Email" required="">
            </div>
            <button ng-click="register()" class="btn btn-primary block full-width m-b">Register</button>

        </form>

        <p class="text-muted text-center"><small>Already have an account?</small></p>
        <a class="btn btn-sm btn-white btn-block" href="/#/login">Login</a>

        <p class="m-t"> <small>Expenses &copy; 2014</small> </p>
    </div>
</div>