input[readonly].default-cursor {
    cursor: default;
}

.center {
 text-align: center;
}

.datepopup.ng-invalid {
    border: 1px solid red;
}

.no-padding-left {
    padding-left: 0;
}

div.DTTT_container {
    padding-left: 5px !important;
}